[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/maluioan
[access "refs/for/refs/*"]
	read = group user/maluioan
	push = group user/maluioan
	label-Code-Review = -2..+2 group user/maluioan
	label-Verified = -1..+1 group user/maluioan
	rebase = group user/maluioan
	removeReviewer = group user/maluioan
	submit = group user/maluioan
[access "refs/heads/*"]
	read = group user/maluioan
	create = group user/maluioan
	push = +force group user/maluioan
	pushMerge = group user/maluioan
[access "refs/tags/*"]
	push = +force group user/maluioan
	pushTag = group user/maluioan
	pushSignedTag = group user/maluioan
